In [256]:
import pandas as pd

In [257]:
df=pd.read_csv("ransomware_combined_utf8.csv")

In [258]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [261]:
df["Industry"].unique()

array(['Public Service', 'Manufacturing',
       'Advertising, Marketing & Public Relations', 'Business Services',
       'Regional Agencies', 'Information Technology',
       'Law Firms & Legal Services', 'Education', 'Transportation',
       'Agriculture', 'Financial Services',
       'Internet & Telecommunication Services', 'Energy & Utilities',
       'Construction', 'Food & Beverages', 'Hospitality & Tourism',
       'Airlines, Airports & Air Services', 'Event Services',
       'Engineering',
       'Community, Social Services & Non-Profit Organisations',
       'Healthcare Services', 'Wholesale & Retail', 'Automotive',
       'Aerospace & Defence', 'Consumer Services', 'Automobile Dealers',
       'Shipping & Logistics', 'Gambling & Betting', 'Broadcasting',
       'Gambling & Gaming', 'Real Estate', 'Local', 'Electronics',
       'Aerospace & Defense', 'Membership Organizations', 'Mining',
       'Tile Industry'], dtype=object)

In [266]:
for index, row in df.iterrows():
    if "Manufacturing" in row["Industry"] or "Machinery" in row["Industry"] or "Materials" in row["Industry"]:
        row["Industry"] = "Manufacturing"
    elif "Construction" in row["Industry"]:
        row["Industry"] = "Construction"
    elif "Consumer" in row["Industry"] or "Fitness" in row["Industry"] or "Recreation" in row["Industry"]:
        row["Industry"] = "Consumer Services"
    elif "Technology" in row["Industry"] or "Software" in row["Industry"] or "Computer" in row["Industry"]:
        row["Industry"] = "Information Technology"
    elif "Law" in row["Industry"] or "Legal" in row["Industry"]:
        row["Industry"] = "Law Firms & Legal Services"
    elif "Business" in row["Industry"] or "HR" in row["Industry"] or "Commercial" in row["Industry"] or "Event" in row["Industry"]:
        row["Industry"] = "Business Services"
    elif "Banking" in row["Industry"] or "Finance" in row["Industry"] or "Accounting" in row["Industry"] or "Investment" in row["Industry"] or "Financial" in row["Industry"] or "Insurance" in row["Industry"] or "Stock" in row["Industry"]:
        row["Industry"] = "Financial Services"
    elif "Education" in row["Industry"]or "School" in row["Industry"] or "Schools" in row["Industry"] or "University" in row["Industry"] or "Universities" in row["Industry"] or "College" in row["Industry"] or "Preschools" in row["Industry"]:
        row["Industry"] = "Education"
    elif "Grocery" in row["Industry"] or "Goods" in row["Industry"] or "Store" in row["Industry"] or "Retail" in row["Industry"] or "Beauty" in row["Industry"] or "Furniture" in row["Industry"] or "Wholesale" in row["Industry"]:
        row["Industry"] = "Wholesale & Retail"
    elif "Advertising" in row["Industry"] or "Public Relations" in row["Industry"] or "Marketing" in row["Industry"]:
        row["Industry"] = "Advertising, Marketing & Public Relations"
    elif "Government" in row["Industry"] or "National" in row["Industry"] or "Municipal" in row["Industry"] or "Federal" in row["Industry"]:
        row["Industry"] = "Public Service"
    elif "Tele" in row["Industry"] or "Internet" in row["Industry"] or "Web" in row["Industry"]:
        row["Industry"] = "Internet & Telecommunication Services"
    elif "Clinic" in row["Industry"] or "Healthcare" in row["Industry"]:
        row["Industry"] = "Healthcare Services"
    elif "Social" in row["Industry"] or "Non-Profit" in row["Industry"] or "Religious" in row["Industry"]:
        row["Industry"] = "Community, Social Services & Non-Profit Organisations"
    elif "Hotel" in row["Industry"] or "Tourism" in row["Industry"] or "Hospitality" in row["Industry"] or "Travel" in row["Industry"]:
        row["Industry"] = "Hospitality & Tourism"
    elif "Restaurant" in row["Industry"] or "Food" in row["Industry"]:
        row["Industry"] = "Food & Beverages"
    elif "Energy" in row["Industry"] or "Utilities" in row["Industry"] or "Oil" in row["Industry"]:
        row["Industry"] = "Energy & Utilities"
    elif "Shipping" in row["Industry"] or "Logistics" in row["Industry"]:
        row["Industry"] = "Shipping & Logistics"
    elif "Automotive" in row["Industry"] or "Motor" in row["Industry"] or "Automobile" in row["Industry"]:
        row["Industry"] = "Automotive"
    elif "Transport" in row["Industry"] or "Car" in row["Industry"]:
        row["Industry"] = "Transportation"
    elif "Farm" in row["Industry"] or "Agriculture" in row["Industry"] or "Crop" in row["Industry"] or "Animal" in row["Industry"]:
        row["Industry"] = "Agriculture"
    elif "Engineering" in row["Industry"] or "Electronics" in row["Industry"] or "Bio" in row["Industry"] or "Chemical" in row["Industry"] or "Chemical" in row["Industry"] or "Pharmaceuticals" in row["Industry"]:
        row["Industry"] = "Engineering"
    elif "Broadcasting" in row["Industry"]:
        row["Industry"] = "Broadcasting"
    elif "Mining" in row["Industry"]:
        row["Industry"] = "Mining"
    elif "Aerospace" in row["Industry"] or "Airline" in row["Industry"]:
        row["Industry"] = "Aerospace"
    elif "Gambling" in row["Industry"] or "Tile" in row["Industry"] or "Membership" in row["Industry"] or "Local" in row["Industry"] or "Local" in row["Industry"] or "Regional" in row["Industry"]:
        row["Industry"] = "Others"

In [267]:
df["Industry"].nunique()

27

In [208]:
df[df["Industry"].str.contains("Engineering")].head(50)

,Company Name,Industry,Description,Post Date,Post Views,Country,Ransomware Group
30,"Delon Hampton & Associates, Chartered",Engineering,"In January 1973, Delon Hampton and Associates,...",Jul-22,"60,500",United States,Quantum
36,Grosvenor Engineering Group,Engineering,Building services partner in Australia and New...,Apr-22,"162,400",Australia,Quantum
47,HEMERIA,Engineering,"At HEMERIA, we design and manufacture high-dep...",Jun-22,"192,516",France,Snatch
55,Thomson Broadbent,Engineering,Thomson Broadbent provides high quality advice...,May-22,"222,602",United States,Snatch
210,JT Engineering,Engineering,"At JT Engineering, client satisfaction is our ...",Sep-22,1737,United States,LockBit
320,Perteet,Engineering,"Talent, innovation, and hard work. For over 33...",Sep-22,4230,United States,LockBit

In [268]:
df["Industry"].value_counts()

Manufacturing                                            58
Business Services                                        32
Construction                                             30
Information Technology                                   30
Wholesale & Retail                                       24
Financial Services                                       23
Law Firms & Legal Services                               16
Hospitality & Tourism                                    15
Education                                                15
Healthcare Services                                      14
Engineering                                              13
Consumer Services                                        12
Internet & Telecommunication Services                    12
Energy & Utilities                                       11
Public Service                                           10
Others                                                    7
Advertising, Marketing & Public Relations                 7
Community, Social Services & Non-Profit Organisations     6
Agriculture                                               5
Automotive                                                5
Shipping & Logistics                                      5
Real Estate                                               5
Food & Beverages                                          4
Aerospace                                                 4
Transportation                                            4
Broadcasting                                              3
Mining                                                    2
Name: Industry, dtype: int64

In [271]:
df.to_csv("ransomware_combined_cleaned.csv", header=True, index=False)